openapi: 3.2.0
info:
  title: Azure API Management REST Product API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ProductApi
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/apis
  : get:
      summary: Microsoft Azure API Management ProductApi_ListByProduct
      operationId: ProductApi_ListByProduct
      description: Lists a collection of the APIs associated with a product.
      responses:
        '200':
          description: Success
      tags:
      - ProductApi
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/apis/{apiId}
  : head:
      summary: Microsoft Azure API Management ProductApi_CheckEntityExists
      operationId: ProductApi_CheckEntityExists
      description: Checks that API entity specified by identifier is associated with the Product entity.
      responses:
        '200':
          description: Success
      tags:
      - ProductApi
    put:
      summary: Microsoft Azure API Management ProductApi_CreateOrUpdate
      operationId: ProductApi_CreateOrUpdate
      description: Adds an API to the specified product.
      responses:
        '200':
          description: Success
      tags:
      - ProductApi
    delete:
      summary: Microsoft Azure API Management ProductApi_Delete
      operationId: ProductApi_Delete
      description: Deletes the specified API from the specified product.
      responses:
        '200':
          description: Success
      tags:
      - ProductApi
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
