openapi: 3.2.0
info:
  title: Azure API Management REST API Tag Description API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApiTagDescription
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/tagDescriptions
  : get:
      summary: Microsoft Azure API Management ApiTagDescription_ListByService
      operationId: ApiTagDescription_ListByService
      description: Lists all Tags descriptions in scope of API. Model similar to swagger - tagDescription is defined on API level but tag may be assigned to the Operations
      responses:
        '200':
          description: Success
      tags:
      - ApiTagDescription
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/tagDescriptions/{tagDescriptionId}
  : head:
      summary: Microsoft Azure API Management ApiTagDescription_GetEntityTag
      operationId: ApiTagDescription_GetEntityTag
      description: Gets the entity state version of the tag specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ApiTagDescription
    get:
      summary: Microsoft Azure API Management ApiTagDescription_Get
      operationId: ApiTagDescription_Get
      description: Get Tag description in scope of API
      responses:
        '200':
          description: Success
      tags:
      - ApiTagDescription
    put:
      summary: Microsoft Azure API Management ApiTagDescription_CreateOrUpdate
      operationId: ApiTagDescription_CreateOrUpdate
      description: Create/Update tag description in scope of the Api.
      responses:
        '200':
          description: Success
      tags:
      - ApiTagDescription
    delete:
      summary: Microsoft Azure API Management ApiTagDescription_Delete
      operationId: ApiTagDescription_Delete
      description: Delete tag description for the Api.
      responses:
        '200':
          description: Success
      tags:
      - ApiTagDescription
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
