openapi: 3.2.0
info:
  title: Azure API Management REST Gateway Certificate Authority API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GatewayCertificateAuthority
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/gateways/{gatewayId}/certificateAuthorities
  : get:
      summary: Microsoft Azure API Management GatewayCertificateAuthority_ListByService
      operationId: GatewayCertificateAuthority_ListByService
      description: Lists the collection of Certificate Authorities for the specified Gateway entity.
      responses:
        '200':
          description: Success
      tags:
      - GatewayCertificateAuthority
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/gateways/{gatewayId}/certificateAuthorities/{certificateId}
  : head:
      summary: Microsoft Azure API Management GatewayCertificateAuthority_GetEntityTag
      operationId: GatewayCertificateAuthority_GetEntityTag
      description: Checks if Certificate entity is assigned to Gateway entity as Certificate Authority.
      responses:
        '200':
          description: Success
      tags:
      - GatewayCertificateAuthority
    get:
      summary: Microsoft Azure API Management GatewayCertificateAuthority_Get
      operationId: GatewayCertificateAuthority_Get
      description: Get assigned Gateway Certificate Authority details.
      responses:
        '200':
          description: Success
      tags:
      - GatewayCertificateAuthority
    put:
      summary: Microsoft Azure API Management GatewayCertificateAuthority_CreateOrUpdate
      operationId: GatewayCertificateAuthority_CreateOrUpdate
      description: Assign Certificate entity to Gateway entity as Certificate Authority.
      responses:
        '200':
          description: Success
      tags:
      - GatewayCertificateAuthority
    delete:
      summary: Microsoft Azure API Management GatewayCertificateAuthority_Delete
      operationId: GatewayCertificateAuthority_Delete
      description: Remove relationship between Certificate Authority and Gateway entity.
      responses:
        '200':
          description: Success
      tags:
      - GatewayCertificateAuthority
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
