openapi: 3.2.0
info:
  title: Azure API Management REST Product Wiki API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ProductWiki
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/wikis
  : get:
      summary: Microsoft Azure API Management ProductWikis_list
      operationId: ProductWikis_list
      description: Gets the details of the Wiki for a Product specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ProductWiki
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/wikis/default
  : head:
      summary: Microsoft Azure API Management ProductWiki_GetEntityTag
      operationId: ProductWiki_GetEntityTag
      description: Gets the entity state (Etag) version of the Wiki for a Product specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ProductWiki
    get:
      summary: Microsoft Azure API Management ProductWiki_Get
      operationId: ProductWiki_Get
      description: Gets the details of the Wiki for a Product specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ProductWiki
    put:
      summary: Microsoft Azure API Management ProductWiki_CreateOrUpdate
      operationId: ProductWiki_CreateOrUpdate
      description: Creates a new Wiki for a Product or updates an existing one.
      responses:
        '200':
          description: Success
      tags:
      - ProductWiki
    patch:
      summary: Microsoft Azure API Management ProductWiki_Update
      operationId: ProductWiki_Update
      description: Updates the details of the Wiki for a Product specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ProductWiki
    delete:
      summary: Microsoft Azure API Management ProductWiki_Delete
      operationId: ProductWiki_Delete
      description: Deletes the specified Wiki from a Product.
      responses:
        '200':
          description: Success
      tags:
      - ProductWiki
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
