openapi: 3.2.0
info:
  title: Azure API Management REST Graph QL API Resolver API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GraphQLApiResolver
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/resolvers
  : get:
      summary: Microsoft Azure API Management GraphQLApiResolver_ListByApi
      operationId: GraphQLApiResolver_ListByApi
      description: Lists a collection of the resolvers for the specified GraphQL API.
      responses:
        '200':
          description: Success
      tags:
      - GraphQLApiResolver
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/resolvers/{resolverId}
  : head:
      summary: Microsoft Azure API Management GraphQLApiResolver_GetEntityTag
      operationId: GraphQLApiResolver_GetEntityTag
      description: Gets the entity state (Etag) version of the GraphQL API resolver specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - GraphQLApiResolver
    get:
      summary: Microsoft Azure API Management GraphQLApiResolver_Get
      operationId: GraphQLApiResolver_Get
      description: Gets the details of the GraphQL API Resolver specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - GraphQLApiResolver
    put:
      summary: Microsoft Azure API Management GraphQLApiResolver_CreateOrUpdate
      operationId: GraphQLApiResolver_CreateOrUpdate
      description: Creates a new resolver in the GraphQL API or updates an existing one.
      responses:
        '200':
          description: Success
      tags:
      - GraphQLApiResolver
    patch:
      summary: Microsoft Azure API Management GraphQLApiResolver_Update
      operationId: GraphQLApiResolver_Update
      description: Updates the details of the resolver in the GraphQL API specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - GraphQLApiResolver
    delete:
      summary: Microsoft Azure API Management GraphQLApiResolver_Delete
      operationId: GraphQLApiResolver_Delete
      description: Deletes the specified resolver in the GraphQL API.
      responses:
        '200':
          description: Success
      tags:
      - GraphQLApiResolver
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
