openapi: 3.2.0
info:
  title: Azure API Management REST Certificate API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Certificate
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/certificates
  : get:
      summary: Microsoft Azure API Management Certificate_ListByService
      operationId: Certificate_ListByService
      description: Lists a collection of all certificates in the specified service instance.
      responses:
        '200':
          description: Success
      tags:
      - Certificate
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/certificates/{certificateId}
  : head:
      summary: Microsoft Azure API Management Certificate_GetEntityTag
      operationId: Certificate_GetEntityTag
      description: Gets the entity state (Etag) version of the certificate specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Certificate
    get:
      summary: Microsoft Azure API Management Certificate_Get
      operationId: Certificate_Get
      description: Gets the details of the certificate specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Certificate
    put:
      summary: Microsoft Azure API Management Certificate_CreateOrUpdate
      operationId: Certificate_CreateOrUpdate
      description: Creates or updates the certificate being used for authentication with the backend.
      responses:
        '200':
          description: Success
      tags:
      - Certificate
    delete:
      summary: Microsoft Azure API Management Certificate_Delete
      operationId: Certificate_Delete
      description: Deletes specific certificate.
      responses:
        '200':
          description: Success
      tags:
      - Certificate
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/certificates/{certificateId}/refreshSecret
  : post:
      summary: Microsoft Azure API Management Certificate_RefreshSecret
      operationId: Certificate_RefreshSecret
      description: From KeyVault, Refresh the certificate being used for authentication with the backend.
      responses:
        '200':
          description: Success
      tags:
      - Certificate
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
