openapi: 3.2.0
info:
  title: Azure API Management REST Tag Product Link API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: TagProductLink
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tags/{tagId}/productLinks
  : get:
      summary: Microsoft Azure API Management TagProductLink_ListByProduct
      operationId: TagProductLink_ListByProduct
      description: Lists a collection of the product links associated with a tag.
      responses:
        '200':
          description: Success
      tags:
      - TagProductLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tags/{tagId}/productLinks/{productLinkId}
  : get:
      summary: Microsoft Azure API Management TagProductLink_Get
      operationId: TagProductLink_Get
      description: Gets the product link for the tag.
      responses:
        '200':
          description: Success
      tags:
      - TagProductLink
    put:
      summary: Microsoft Azure API Management TagProductLink_CreateOrUpdate
      operationId: TagProductLink_CreateOrUpdate
      description: Adds a product to the specified tag via link.
      responses:
        '200':
          description: Success
      tags:
      - TagProductLink
    delete:
      summary: Microsoft Azure API Management TagProductLink_Delete
      operationId: TagProductLink_Delete
      description: Deletes the specified product from the specified tag.
      responses:
        '200':
          description: Success
      tags:
      - TagProductLink
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
