openapi: 3.2.0
info:
  title: Azure API Management REST Policy Fragment API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PolicyFragment
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/policyFragments
  : get:
      summary: Microsoft Azure API Management WorkspacePolicyFragment_ListByService
      operationId: WorkspacePolicyFragment_ListByService
      description: Gets all policy fragments defined within a workspace.
      responses:
        '200':
          description: Success
      tags:
      - PolicyFragment
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/policyFragments/{id}
  : head:
      summary: Microsoft Azure API Management WorkspacePolicyFragment_GetEntityTag
      operationId: WorkspacePolicyFragment_GetEntityTag
      description: Gets the entity state (Etag) version of a policy fragment.
      responses:
        '200':
          description: Success
      tags:
      - PolicyFragment
    get:
      summary: Microsoft Azure API Management WorkspacePolicyFragment_Get
      operationId: WorkspacePolicyFragment_Get
      description: Gets a policy fragment.
      responses:
        '200':
          description: Success
      tags:
      - PolicyFragment
    put:
      summary: Microsoft Azure API Management WorkspacePolicyFragment_CreateOrUpdate
      operationId: WorkspacePolicyFragment_CreateOrUpdate
      description: Creates or updates a policy fragment.
      responses:
        '200':
          description: Success
      tags:
      - PolicyFragment
    delete:
      summary: Microsoft Azure API Management WorkspacePolicyFragment_Delete
      operationId: WorkspacePolicyFragment_Delete
      description: Deletes a policy fragment.
      responses:
        '200':
          description: Success
      tags:
      - PolicyFragment
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
