openapi: 3.2.0
info:
  title: Azure API Management REST API Release API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApiRelease
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/releases
  : get:
      summary: Microsoft Azure API Management ApiRelease_ListByService
      operationId: ApiRelease_ListByService
      description: Lists all releases of an API. An API release is created when making an API Revision current. Releases are also used to rollback to previous revisions. Results will be paged and can be constrained by the $top and $skip parameters.
      responses:
        '200':
          description: Success
      tags:
      - ApiRelease
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/releases/{releaseId}
  : head:
      summary: Microsoft Azure API Management ApiRelease_GetEntityTag
      operationId: ApiRelease_GetEntityTag
      description: Returns the etag of an API release.
      responses:
        '200':
          description: Success
      tags:
      - ApiRelease
    get:
      summary: Microsoft Azure API Management ApiRelease_Get
      operationId: ApiRelease_Get
      description: Returns the details of an API release.
      responses:
        '200':
          description: Success
      tags:
      - ApiRelease
    put:
      summary: Microsoft Azure API Management ApiRelease_CreateOrUpdate
      operationId: ApiRelease_CreateOrUpdate
      description: Creates a new Release for the API.
      responses:
        '200':
          description: Success
      tags:
      - ApiRelease
    patch:
      summary: Microsoft Azure API Management ApiRelease_Update
      operationId: ApiRelease_Update
      description: Updates the details of the release of the API specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ApiRelease
    delete:
      summary: Microsoft Azure API Management ApiRelease_Delete
      operationId: ApiRelease_Delete
      description: Deletes the specified release in the API.
      responses:
        '200':
          description: Success
      tags:
      - ApiRelease
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
