openapi: 3.2.0
info:
  title: Azure API Management REST API Tag API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApiTag
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/tags
  : get:
      summary: Microsoft Azure API Management Tag_ListByApi
      operationId: Tag_ListByApi
      description: Lists all Tags associated with the API.
      responses:
        '200':
          description: Success
      tags:
      - ApiTag
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/tags/{tagId}
  : head:
      summary: Microsoft Azure API Management Tag_GetEntityStateByApi
      operationId: Tag_GetEntityStateByApi
      description: Gets the entity state version of the tag specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ApiTag
    get:
      summary: Microsoft Azure API Management Tag_GetByApi
      operationId: Tag_GetByApi
      description: Get tag associated with the API.
      responses:
        '200':
          description: Success
      tags:
      - ApiTag
    put:
      summary: Microsoft Azure API Management Tag_AssignToApi
      operationId: Tag_AssignToApi
      description: Assign tag to the Api.
      responses:
        '200':
          description: Success
      tags:
      - ApiTag
    delete:
      summary: Microsoft Azure API Management Tag_DetachFromApi
      operationId: Tag_DetachFromApi
      description: Detach the tag from the Api.
      responses:
        '200':
          description: Success
      tags:
      - ApiTag
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
