openapi: 3.2.0
info:
  title: Azure API Management REST Workspace Policy API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: WorkspacePolicy
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/policies
  : get:
      summary: Microsoft Azure API Management WorkspacePolicy_ListByApi
      operationId: WorkspacePolicy_ListByApi
      description: Get the policy configuration at the workspace level.
      responses:
        '200':
          description: Success
      tags:
      - WorkspacePolicy
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/policies/{policyId}
  : head:
      summary: Microsoft Azure API Management WorkspacePolicy_GetEntityTag
      operationId: WorkspacePolicy_GetEntityTag
      description: Gets the entity state (Etag) version of the workspace policy specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - WorkspacePolicy
    get:
      summary: Microsoft Azure API Management WorkspacePolicy_Get
      operationId: WorkspacePolicy_Get
      description: Get the policy configuration at the API level.
      responses:
        '200':
          description: Success
      tags:
      - WorkspacePolicy
    put:
      summary: Microsoft Azure API Management WorkspacePolicy_CreateOrUpdate
      operationId: WorkspacePolicy_CreateOrUpdate
      description: Creates or updates policy configuration for the workspace.
      responses:
        '200':
          description: Success
      tags:
      - WorkspacePolicy
    delete:
      summary: Microsoft Azure API Management WorkspacePolicy_Delete
      operationId: WorkspacePolicy_Delete
      description: Deletes the policy configuration at the workspace.
      responses:
        '200':
          description: Success
      tags:
      - WorkspacePolicy
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
