openapi: 3.2.0
info:
  title: Azure API Management REST Backend API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Backend
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backends
  : get:
      summary: Microsoft Azure API Management Backend_ListByService
      operationId: Backend_ListByService
      description: Lists a collection of backends in the specified service instance.
      responses:
        '200':
          description: Success
      tags:
      - Backend
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backends/{backendId}
  : head:
      summary: Microsoft Azure API Management Backend_GetEntityTag
      operationId: Backend_GetEntityTag
      description: Gets the entity state (Etag) version of the backend specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Backend
    get:
      summary: Microsoft Azure API Management Backend_Get
      operationId: Backend_Get
      description: Gets the details of the backend specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Backend
    put:
      summary: Microsoft Azure API Management Backend_CreateOrUpdate
      operationId: Backend_CreateOrUpdate
      description: Creates or Updates a backend.
      responses:
        '200':
          description: Success
      tags:
      - Backend
    patch:
      summary: Microsoft Azure API Management Backend_Update
      operationId: Backend_Update
      description: Updates an existing backend.
      responses:
        '200':
          description: Success
      tags:
      - Backend
    delete:
      summary: Microsoft Azure API Management Backend_Delete
      operationId: Backend_Delete
      description: Deletes the specified backend.
      responses:
        '200':
          description: Success
      tags:
      - Backend
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
