openapi: 3.2.0
info:
  title: Azure API Management REST Group User API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GroupUser
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{groupId}/users
  : get:
      summary: Microsoft Azure API Management GroupUser_List
      operationId: GroupUser_List
      description: Lists a collection of user entities associated with the group.
      responses:
        '200':
          description: Success
      tags:
      - GroupUser
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{groupId}/users/{userId}
  : head:
      summary: Microsoft Azure API Management GroupUser_CheckEntityExists
      operationId: GroupUser_CheckEntityExists
      description: Checks that user entity specified by identifier is associated with the group entity.
      responses:
        '200':
          description: Success
      tags:
      - GroupUser
    put:
      summary: Microsoft Azure API Management GroupUser_Create
      operationId: GroupUser_Create
      description: Add existing user to existing group
      responses:
        '200':
          description: Success
      tags:
      - GroupUser
    delete:
      summary: Microsoft Azure API Management GroupUser_Delete
      operationId: GroupUser_Delete
      description: Remove existing user from existing group.
      responses:
        '200':
          description: Success
      tags:
      - GroupUser
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
