openapi: 3.2.0
info:
  title: Azure API Management REST API Wiki API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApiWiki
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/wikis
  : get:
      summary: Microsoft Azure API Management ApiWikis_List
      operationId: ApiWikis_List
      description: Gets the wikis for an API specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ApiWiki
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/wikis/default
  : head:
      summary: Microsoft Azure API Management ApiWiki_GetEntityTag
      operationId: ApiWiki_GetEntityTag
      description: Gets the entity state (Etag) version of the Wiki for an API specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ApiWiki
    get:
      summary: Microsoft Azure API Management ApiWiki_Get
      operationId: ApiWiki_Get
      description: Gets the details of the Wiki for an API specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ApiWiki
    put:
      summary: Microsoft Azure API Management ApiWiki_CreateOrUpdate
      operationId: ApiWiki_CreateOrUpdate
      description: Creates a new Wiki for an API or updates an existing one.
      responses:
        '200':
          description: Success
      tags:
      - ApiWiki
    patch:
      summary: Microsoft Azure API Management ApiWiki_Update
      operationId: ApiWiki_Update
      description: Updates the details of the Wiki for an API specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ApiWiki
    delete:
      summary: Microsoft Azure API Management ApiWiki_Delete
      operationId: ApiWiki_Delete
      description: Deletes the specified Wiki from an API.
      responses:
        '200':
          description: Success
      tags:
      - ApiWiki
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
