openapi: 3.2.0
info:
  title: Azure API Management REST API Version Set API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApiVersionSet
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/apiVersionSets
  : get:
      summary: Microsoft Azure API Management WorkspaceApiVersionSet_ListByService
      operationId: WorkspaceApiVersionSet_ListByService
      description: Lists a collection of API Version Sets in the specified workspace with a service instance.
      responses:
        '200':
          description: Success
      tags:
      - ApiVersionSet
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/apiVersionSets/{versionSetId}
  : head:
      summary: Microsoft Azure API Management WorkspaceApiVersionSet_GetEntityTag
      operationId: WorkspaceApiVersionSet_GetEntityTag
      description: Gets the entity state (Etag) version of the Api Version Set specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ApiVersionSet
    get:
      summary: Microsoft Azure API Management WorkspaceApiVersionSet_Get
      operationId: WorkspaceApiVersionSet_Get
      description: Gets the details of the Api Version Set specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ApiVersionSet
    put:
      summary: Microsoft Azure API Management WorkspaceApiVersionSet_CreateOrUpdate
      operationId: WorkspaceApiVersionSet_CreateOrUpdate
      description: Creates or Updates a Api Version Set.
      responses:
        '200':
          description: Success
      tags:
      - ApiVersionSet
    patch:
      summary: Microsoft Azure API Management WorkspaceApiVersionSet_Update
      operationId: WorkspaceApiVersionSet_Update
      description: Updates the details of the Api VersionSet specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ApiVersionSet
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
