openapi: 3.2.0
info:
  title: Azure API Management REST Diagnostic API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Diagnostic
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics
  : get:
      summary: Microsoft Azure API Management Diagnostic_ListByService
      operationId: Diagnostic_ListByService
      description: Lists all diagnostics of the API Management service instance.
      responses:
        '200':
          description: Success
      tags:
      - Diagnostic
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics/{diagnosticId}
  : head:
      summary: Microsoft Azure API Management Diagnostic_GetEntityTag
      operationId: Diagnostic_GetEntityTag
      description: Gets the entity state (Etag) version of the Diagnostic specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Diagnostic
    get:
      summary: Microsoft Azure API Management Diagnostic_Get
      operationId: Diagnostic_Get
      description: Gets the details of the Diagnostic specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Diagnostic
    put:
      summary: Microsoft Azure API Management Diagnostic_CreateOrUpdate
      operationId: Diagnostic_CreateOrUpdate
      description: Creates a new Diagnostic or updates an existing one.
      responses:
        '200':
          description: Success
      tags:
      - Diagnostic
    patch:
      summary: Microsoft Azure API Management Diagnostic_Update
      operationId: Diagnostic_Update
      description: Updates the details of the Diagnostic specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Diagnostic
    delete:
      summary: Microsoft Azure API Management Diagnostic_Delete
      operationId: Diagnostic_Delete
      description: Deletes the specified Diagnostic.
      responses:
        '200':
          description: Success
      tags:
      - Diagnostic
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
