openapi: 3.2.0
info:
  title: Azure API Management REST API Management Operations API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApiManagementOperations
paths:
  /providers/Microsoft.ApiManagement/operations:
    get:
      summary: Microsoft Azure API Management ApiManagementOperations_List
      operationId: ApiManagementOperations_List
      description: Lists all of the available REST API operations of the Microsoft.ApiManagement provider.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
              examples:
                OperationListExample:
                  summary: List of available operations
                  value:
                    value:
                    - name: Microsoft.ApiManagement/service/read
                      display:
                        provider: Microsoft API Management
                        resource: Service
                        operation: Read API Management Service
                    - name: Microsoft.ApiManagement/service/write
                      display:
                        provider: Microsoft API Management
                        resource: Service
                        operation: Create or Update API Management Service
                    nextLink: ''
              x-microcks-default:
                value: []
                nextLink: ''
      tags:
      - ApiManagementOperations
components:
  schemas:
    OperationListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: Microsoft.ApiManagement/service/read
              display:
                type: object
                properties:
                  provider:
                    type: string
                    example: Microsoft API Management
                  resource:
                    type: string
                    example: Service
                  operation:
                    type: string
                    example: Read API Management Service
        nextLink:
          type: string
          example: ''
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
