openapi: 3.2.0
info:
  title: Azure API Management REST Product Group API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ProductGroup
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/groups
  : get:
      summary: Microsoft Azure API Management ProductGroup_ListByProduct
      operationId: ProductGroup_ListByProduct
      description: Lists the collection of developer groups associated with the specified product.
      responses:
        '200':
          description: Success
      tags:
      - ProductGroup
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/groups/{groupId}
  : head:
      summary: Microsoft Azure API Management ProductGroup_CheckEntityExists
      operationId: ProductGroup_CheckEntityExists
      description: Checks that Group entity specified by identifier is associated with the Product entity.
      responses:
        '200':
          description: Success
      tags:
      - ProductGroup
    put:
      summary: Microsoft Azure API Management ProductGroup_CreateOrUpdate
      operationId: ProductGroup_CreateOrUpdate
      description: Adds the association between the specified developer group with the specified product.
      responses:
        '200':
          description: Success
      tags:
      - ProductGroup
    delete:
      summary: Microsoft Azure API Management ProductGroup_Delete
      operationId: ProductGroup_Delete
      description: Deletes the association between the specified group and product.
      responses:
        '200':
          description: Success
      tags:
      - ProductGroup
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
