openapi: 3.2.0
info:
  title: Azure API Management REST API Issue API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApiIssue
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/issues
  : get:
      summary: Microsoft Azure API Management ApiIssue_ListByService
      operationId: ApiIssue_ListByService
      description: Lists all issues associated with the specified API.
      responses:
        '200':
          description: Success
      tags:
      - ApiIssue
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/issues/{issueId}
  : head:
      summary: Microsoft Azure API Management ApiIssue_GetEntityTag
      operationId: ApiIssue_GetEntityTag
      description: Gets the entity state (Etag) version of the Issue for an API specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ApiIssue
    get:
      summary: Microsoft Azure API Management ApiIssue_Get
      operationId: ApiIssue_Get
      description: Gets the details of the Issue for an API specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ApiIssue
    put:
      summary: Microsoft Azure API Management ApiIssue_CreateOrUpdate
      operationId: ApiIssue_CreateOrUpdate
      description: Creates a new Issue for an API or updates an existing one.
      responses:
        '200':
          description: Success
      tags:
      - ApiIssue
    patch:
      summary: Microsoft Azure API Management ApiIssue_Update
      operationId: ApiIssue_Update
      description: Updates an existing issue for an API.
      responses:
        '200':
          description: Success
      tags:
      - ApiIssue
    delete:
      summary: Microsoft Azure API Management ApiIssue_Delete
      operationId: ApiIssue_Delete
      description: Deletes the specified Issue from an API.
      responses:
        '200':
          description: Success
      tags:
      - ApiIssue
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
