openapi: 3.2.0
info:
  title: Azure API Management REST Tag API Link API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: TagApiLink
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tags/{tagId}/apiLinks
  : get:
      summary: Microsoft Azure API Management TagApiLink_ListByProduct
      operationId: TagApiLink_ListByProduct
      description: Lists a collection of the API links associated with a tag.
      responses:
        '200':
          description: Success
      tags:
      - TagApiLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tags/{tagId}/apiLinks/{apiLinkId}
  : get:
      summary: Microsoft Azure API Management TagApiLink_Get
      operationId: TagApiLink_Get
      description: Gets the API link for the tag.
      responses:
        '200':
          description: Success
      tags:
      - TagApiLink
    put:
      summary: Microsoft Azure API Management TagApiLink_CreateOrUpdate
      operationId: TagApiLink_CreateOrUpdate
      description: Adds an API to the specified tag via link.
      responses:
        '200':
          description: Success
      tags:
      - TagApiLink
    delete:
      summary: Microsoft Azure API Management TagApiLink_Delete
      operationId: TagApiLink_Delete
      description: Deletes the specified API from the specified tag.
      responses:
        '200':
          description: Success
      tags:
      - TagApiLink
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
