openapi: 3.2.0
info:
  title: Azure API Management REST Product API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Product
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products
  : get:
      summary: Microsoft Azure API Management Product_ListByService
      operationId: Product_ListByService
      description: Lists a collection of products in the specified service instance.
      responses:
        '200':
          description: Success
      tags:
      - Product
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}
  : head:
      summary: Microsoft Azure API Management Product_GetEntityTag
      operationId: Product_GetEntityTag
      description: Gets the entity state (Etag) version of the product specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Product
    get:
      summary: Microsoft Azure API Management Product_Get
      operationId: Product_Get
      description: Gets the details of the product specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Product
    put:
      summary: Microsoft Azure API Management Product_CreateOrUpdate
      operationId: Product_CreateOrUpdate
      description: Creates or Updates a product.
      responses:
        '200':
          description: Success
      tags:
      - Product
    patch:
      summary: Microsoft Azure API Management Product_Update
      operationId: Product_Update
      description: Update existing product details.
      responses:
        '200':
          description: Success
      tags:
      - Product
    delete:
      summary: Microsoft Azure API Management Product_Delete
      operationId: Product_Delete
      description: Delete product.
      responses:
        '200':
          description: Success
      tags:
      - Product
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/products
  : get:
      summary: Microsoft Azure API Management WorkspaceProduct_ListByService
      operationId: WorkspaceProduct_ListByService
      description: Lists a collection of products in the specified workspace in a service instance.
      responses:
        '200':
          description: Success
      tags:
      - Product
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/products/{productId}
  : head:
      summary: Microsoft Azure API Management WorkspaceProduct_GetEntityTag
      operationId: WorkspaceProduct_GetEntityTag
      description: Gets the entity state (Etag) version of the product specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Product
    get:
      summary: Microsoft Azure API Management WorkspaceProduct_Get
      operationId: WorkspaceProduct_Get
      description: Gets the details of the product specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Product
    put:
      summary: Microsoft Azure API Management WorkspaceProduct_CreateOrUpdate
      operationId: WorkspaceProduct_CreateOrUpdate
      description: Creates or Updates a product.
      responses:
        '200':
          description: Success
      tags:
      - Product
    patch:
      summary: Microsoft Azure API Management WorkspaceProduct_Update
      operationId: WorkspaceProduct_Update
      description: Update existing product details.
      responses:
        '200':
          description: Success
      tags:
      - Product
    delete:
      summary: Microsoft Azure API Management WorkspaceProduct_Delete
      operationId: WorkspaceProduct_Delete
      description: Delete product.
      responses:
        '200':
          description: Success
      tags:
      - Product
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
