openapi: 3.2.0
info:
  title: Azure API Management REST Users API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Users
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{userId}/generateSsoUrl
  : post:
      summary: Microsoft Azure API Management User_GenerateSsoUrl
      operationId: User_GenerateSsoUrl
      description: Retrieves a redirection URL containing an authentication token for signing a given user into the developer portal.
      responses:
        '200':
          description: Success
      tags:
      - Users
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
