openapi: 3.2.0
info:
  title: Azure API Management REST Product Tag API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ProductTag
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/tags
  : get:
      summary: Microsoft Azure API Management Tag_ListByProduct
      operationId: Tag_ListByProduct
      description: Lists all Tags associated with the Product.
      responses:
        '200':
          description: Success
      tags:
      - ProductTag
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/tags/{tagId}
  : head:
      summary: Microsoft Azure API Management Tag_GetEntityStateByProduct
      operationId: Tag_GetEntityStateByProduct
      description: Gets the entity state version of the tag specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ProductTag
    get:
      summary: Microsoft Azure API Management Tag_GetByProduct
      operationId: Tag_GetByProduct
      description: Get tag associated with the Product.
      responses:
        '200':
          description: Success
      tags:
      - ProductTag
    put:
      summary: Microsoft Azure API Management Tag_AssignToProduct
      operationId: Tag_AssignToProduct
      description: Assign tag to the Product.
      responses:
        '200':
          description: Success
      tags:
      - ProductTag
    delete:
      summary: Microsoft Azure API Management Tag_DetachFromProduct
      operationId: Tag_DetachFromProduct
      description: Detach the tag from the Product.
      responses:
        '200':
          description: Success
      tags:
      - ProductTag
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
