openapi: 3.2.0
info:
  title: Azure API Management REST Workspace API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Workspace
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces
  : get:
      summary: Microsoft Azure API Management Workspace_ListByService
      operationId: Workspace_ListByService
      description: Lists all workspaces of the API Management service instance.
      responses:
        '200':
          description: Success
      tags:
      - Workspace
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}
  : head:
      summary: Microsoft Azure API Management Workspace_GetEntityTag
      operationId: Workspace_GetEntityTag
      description: Gets the entity state (Etag) version of the workspace specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Workspace
    get:
      summary: Microsoft Azure API Management Workspace_Get
      operationId: Workspace_Get
      description: Gets the details of the workspace specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Workspace
    put:
      summary: Microsoft Azure API Management Workspace_CreateOrUpdate
      operationId: Workspace_CreateOrUpdate
      description: Creates a new workspace or updates an existing one.
      responses:
        '200':
          description: Success
      tags:
      - Workspace
    patch:
      summary: Microsoft Azure API Management Workspace_Update
      operationId: Workspace_Update
      description: Updates the details of the workspace specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Workspace
    delete:
      summary: Microsoft Azure API Management Workspace_Delete
      operationId: Workspace_Delete
      description: Deletes the specified workspace.
      responses:
        '200':
          description: Success
      tags:
      - Workspace
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
