openapi: 3.2.0
info:
  title: Azure API Management REST Logger API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Logger
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/loggers
  : get:
      summary: Microsoft Azure API Management Logger_ListByService
      operationId: Logger_ListByService
      description: Lists a collection of loggers in the specified service instance.
      responses:
        '200':
          description: Success
      tags:
      - Logger
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/loggers/{loggerId}
  : head:
      summary: Microsoft Azure API Management Logger_GetEntityTag
      operationId: Logger_GetEntityTag
      description: Gets the entity state (Etag) version of the logger specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Logger
    get:
      summary: Microsoft Azure API Management Logger_Get
      operationId: Logger_Get
      description: Gets the details of the logger specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Logger
    put:
      summary: Microsoft Azure API Management Logger_CreateOrUpdate
      operationId: Logger_CreateOrUpdate
      description: Creates or Updates a logger.
      responses:
        '200':
          description: Success
      tags:
      - Logger
    patch:
      summary: Microsoft Azure API Management Logger_Update
      operationId: Logger_Update
      description: Updates an existing logger.
      responses:
        '200':
          description: Success
      tags:
      - Logger
    delete:
      summary: Microsoft Azure API Management Logger_Delete
      operationId: Logger_Delete
      description: Deletes the specified logger.
      responses:
        '200':
          description: Success
      tags:
      - Logger
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
