openapi: 3.2.0
info:
  title: Azure API Management REST Policy API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Policy
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policies
  : get:
      summary: Microsoft Azure API Management Policy_ListByService
      operationId: Policy_ListByService
      description: Lists all the Global Policy definitions of the Api Management service.
      responses:
        '200':
          description: Success
      tags:
      - Policy
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policies/{policyId}
  : head:
      summary: Microsoft Azure API Management Policy_GetEntityTag
      operationId: Policy_GetEntityTag
      description: Gets the entity state (Etag) version of the Global policy definition in the Api Management service.
      responses:
        '200':
          description: Success
      tags:
      - Policy
    get:
      summary: Microsoft Azure API Management Policy_Get
      operationId: Policy_Get
      description: Get the Global policy definition of the Api Management service.
      responses:
        '200':
          description: Success
      tags:
      - Policy
    put:
      summary: Microsoft Azure API Management Policy_CreateOrUpdate
      operationId: Policy_CreateOrUpdate
      description: Creates or updates the global policy configuration of the Api Management service.
      responses:
        '200':
          description: Success
      tags:
      - Policy
    delete:
      summary: Microsoft Azure API Management Policy_Delete
      operationId: Policy_Delete
      description: Deletes the global policy configuration of the Api Management Service.
      responses:
        '200':
          description: Success
      tags:
      - Policy
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
