openapi: 3.2.0
info:
  title: Azure API Management REST API Operation API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApiOperation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations
  : get:
      summary: Microsoft Azure API Management ApiOperation_ListByApi
      operationId: ApiOperation_ListByApi
      description: Lists a collection of the operations for the specified API.
      responses:
        '200':
          description: Success
      tags:
      - ApiOperation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations/{operationId}
  : head:
      summary: Microsoft Azure API Management ApiOperation_GetEntityTag
      operationId: ApiOperation_GetEntityTag
      description: Gets the entity state (Etag) version of the API operation specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ApiOperation
    get:
      summary: Microsoft Azure API Management ApiOperation_Get
      operationId: ApiOperation_Get
      description: Gets the details of the API Operation specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ApiOperation
    put:
      summary: Microsoft Azure API Management ApiOperation_CreateOrUpdate
      operationId: ApiOperation_CreateOrUpdate
      description: Creates a new operation in the API or updates an existing one.
      responses:
        '200':
          description: Success
      tags:
      - ApiOperation
    patch:
      summary: Microsoft Azure API Management ApiOperation_Update
      operationId: ApiOperation_Update
      description: Updates the details of the operation in the API specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ApiOperation
    delete:
      summary: Microsoft Azure API Management ApiOperation_Delete
      operationId: ApiOperation_Delete
      description: Deletes the specified operation in the API.
      responses:
        '200':
          description: Success
      tags:
      - ApiOperation
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
