openapi: 3.2.0
info:
  title: Azure API Management REST Tag API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Tag
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tags
  : get:
      summary: Microsoft Azure API Management Tag_ListByService
      operationId: Tag_ListByService
      description: Lists a collection of tags defined within a service instance.
      responses:
        '200':
          description: Success
      tags:
      - Tag
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tags/{tagId}
  : head:
      summary: Microsoft Azure API Management Tag_GetEntityState
      operationId: Tag_GetEntityState
      description: Gets the entity state version of the tag specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Tag
    get:
      summary: Microsoft Azure API Management Tag_Get
      operationId: Tag_Get
      description: Gets the details of the tag specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Tag
    put:
      summary: Microsoft Azure API Management Tag_CreateOrUpdate
      operationId: Tag_CreateOrUpdate
      description: Creates a tag.
      responses:
        '200':
          description: Success
      tags:
      - Tag
    patch:
      summary: Microsoft Azure API Management Tag_Update
      operationId: Tag_Update
      description: Updates the details of the tag specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Tag
    delete:
      summary: Microsoft Azure API Management Tag_Delete
      operationId: Tag_Delete
      description: Deletes specific tag of the API Management service instance.
      responses:
        '200':
          description: Success
      tags:
      - Tag
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/tags
  : get:
      summary: Microsoft Azure API Management WorkspaceTag_ListByService
      operationId: WorkspaceTag_ListByService
      description: Lists a collection of tags defined within a workspace in a service instance.
      responses:
        '200':
          description: Success
      tags:
      - Tag
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/tags/{tagId}
  : head:
      summary: Microsoft Azure API Management WorkspaceTag_GetEntityState
      operationId: WorkspaceTag_GetEntityState
      description: Gets the entity state version of the tag specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Tag
    get:
      summary: Microsoft Azure API Management WorkspaceTag_Get
      operationId: WorkspaceTag_Get
      description: Gets the details of the tag specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Tag
    put:
      summary: Microsoft Azure API Management WorkspaceTag_CreateOrUpdate
      operationId: WorkspaceTag_CreateOrUpdate
      description: Creates a tag.
      responses:
        '200':
          description: Success
      tags:
      - Tag
    patch:
      summary: Microsoft Azure API Management WorkspaceTag_Update
      operationId: WorkspaceTag_Update
      description: Updates the details of the tag specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Tag
    delete:
      summary: Microsoft Azure API Management WorkspaceTag_Delete
      operationId: WorkspaceTag_Delete
      description: Deletes specific tag of the workspace in an API Management service instance.
      responses:
        '200':
          description: Success
      tags:
      - Tag
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
