openapi: 3.2.0
info:
  title: Azure API Management REST API Schema API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApiSchema
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/schemas
  : get:
      summary: Microsoft Azure API Management ApiSchema_ListByApi
      operationId: ApiSchema_ListByApi
      description: Get the schema configuration at the API level.
      responses:
        '200':
          description: Success
      tags:
      - ApiSchema
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/schemas/{schemaId}
  : head:
      summary: Microsoft Azure API Management ApiSchema_GetEntityTag
      operationId: ApiSchema_GetEntityTag
      description: Gets the entity state (Etag) version of the schema specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - ApiSchema
    get:
      summary: Microsoft Azure API Management ApiSchema_Get
      operationId: ApiSchema_Get
      description: Get the schema configuration at the API level.
      responses:
        '200':
          description: Success
      tags:
      - ApiSchema
    put:
      summary: Microsoft Azure API Management ApiSchema_CreateOrUpdate
      operationId: ApiSchema_CreateOrUpdate
      description: Creates or updates schema configuration for the API.
      responses:
        '200':
          description: Success
      tags:
      - ApiSchema
    delete:
      summary: Microsoft Azure API Management ApiSchema_Delete
      operationId: ApiSchema_Delete
      description: Deletes the schema configuration at the Api.
      responses:
        '200':
          description: Success
      tags:
      - ApiSchema
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
