openapi: 3.2.0
info:
  title: Azure API Management REST Schema API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Schema
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/schemas
  : get:
      summary: Microsoft Azure API Management WorkspaceGlobalSchema_ListByService
      operationId: WorkspaceGlobalSchema_ListByService
      description: Lists a collection of schemas registered with workspace in a service instance.
      responses:
        '200':
          description: Success
      tags:
      - Schema
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/schemas/{schemaId}
  : head:
      summary: Microsoft Azure API Management WorkspaceGlobalSchema_GetEntityTag
      operationId: WorkspaceGlobalSchema_GetEntityTag
      description: Gets the entity state (Etag) version of the Schema specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Schema
    get:
      summary: Microsoft Azure API Management WorkspaceGlobalSchema_Get
      operationId: WorkspaceGlobalSchema_Get
      description: Gets the details of the Schema specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Schema
    put:
      summary: Microsoft Azure API Management WorkspaceGlobalSchema_CreateOrUpdate
      operationId: WorkspaceGlobalSchema_CreateOrUpdate
      description: Creates new or updates existing specified Schema of the workspace in an API Management service instance.
      responses:
        '200':
          description: Success
      tags:
      - Schema
    delete:
      summary: Microsoft Azure API Management WorkspaceGlobalSchema_Delete
      operationId: WorkspaceGlobalSchema_Delete
      description: Deletes specific Schema.
      responses:
        '200':
          description: Success
      tags:
      - Schema
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
