openapi: 3.2.0
info:
  title: Azure API Management REST Group API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Group
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups
  : get:
      summary: Microsoft Azure API Management Group_ListByService
      operationId: Group_ListByService
      description: Lists a collection of groups defined within a service instance.
      responses:
        '200':
          description: Success
      tags:
      - Group
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{groupId}
  : head:
      summary: Microsoft Azure API Management Group_GetEntityTag
      operationId: Group_GetEntityTag
      description: Gets the entity state (Etag) version of the group specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Group
    get:
      summary: Microsoft Azure API Management Group_Get
      operationId: Group_Get
      description: Gets the details of the group specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Group
    put:
      summary: Microsoft Azure API Management Group_CreateOrUpdate
      operationId: Group_CreateOrUpdate
      description: Creates or Updates a group.
      responses:
        '200':
          description: Success
      tags:
      - Group
    patch:
      summary: Microsoft Azure API Management Group_Update
      operationId: Group_Update
      description: Updates the details of the group specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Group
    delete:
      summary: Microsoft Azure API Management Group_Delete
      operationId: Group_Delete
      description: Deletes specific group of the API Management service instance.
      responses:
        '200':
          description: Success
      tags:
      - Group
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/groups
  : get:
      summary: Microsoft Azure API Management WorkspaceGroup_ListByService
      operationId: WorkspaceGroup_ListByService
      description: Lists a collection of groups defined within a workspace in a service instance.
      responses:
        '200':
          description: Success
      tags:
      - Group
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/groups/{groupId}
  : head:
      summary: Microsoft Azure API Management WorkspaceGroup_GetEntityTag
      operationId: WorkspaceGroup_GetEntityTag
      description: Gets the entity state (Etag) version of the group specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Group
    get:
      summary: Microsoft Azure API Management WorkspaceGroup_Get
      operationId: WorkspaceGroup_Get
      description: Gets the details of the group specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Group
    put:
      summary: Microsoft Azure API Management WorkspaceGroup_CreateOrUpdate
      operationId: WorkspaceGroup_CreateOrUpdate
      description: Creates or Updates a group.
      responses:
        '200':
          description: Success
      tags:
      - Group
    patch:
      summary: Microsoft Azure API Management WorkspaceGroup_Update
      operationId: WorkspaceGroup_Update
      description: Updates the details of the group specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Group
    delete:
      summary: Microsoft Azure API Management WorkspaceGroup_Delete
      operationId: WorkspaceGroup_Delete
      description: Deletes specific group of the workspace in an API Management service instance.
      responses:
        '200':
          description: Success
      tags:
      - Group
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
