openapi: 3.2.0
info:
  title: Azure API Management REST Product Policy API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ProductPolicy
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/policies
  : get:
      summary: Microsoft Azure API Management ProductPolicy_ListByProduct
      operationId: ProductPolicy_ListByProduct
      description: Get the policy configuration at the Product level.
      responses:
        '200':
          description: Success
      tags:
      - ProductPolicy
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/policies/{policyId}
  : head:
      summary: Microsoft Azure API Management ProductPolicy_GetEntityTag
      operationId: ProductPolicy_GetEntityTag
      description: Get the ETag of the policy configuration at the Product level.
      responses:
        '200':
          description: Success
      tags:
      - ProductPolicy
    get:
      summary: Microsoft Azure API Management ProductPolicy_Get
      operationId: ProductPolicy_Get
      description: Get the policy configuration at the Product level.
      responses:
        '200':
          description: Success
      tags:
      - ProductPolicy
    put:
      summary: Microsoft Azure API Management ProductPolicy_CreateOrUpdate
      operationId: ProductPolicy_CreateOrUpdate
      description: Creates or updates policy configuration for the Product.
      responses:
        '200':
          description: Success
      tags:
      - ProductPolicy
    delete:
      summary: Microsoft Azure API Management ProductPolicy_Delete
      operationId: ProductPolicy_Delete
      description: Deletes the policy configuration at the Product.
      responses:
        '200':
          description: Success
      tags:
      - ProductPolicy
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
