openapi: 3.2.0
info:
  title: Azure API Management REST Subscription API
  description: REST APIs for managing Azure API Management service instances and their entities including APIs, products, subscriptions, users, groups, policies, gateways, backends, certificates, and workspaces. Uses Azure Resource Manager conventions.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure
    url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-source: https://github.com/Azure/azure-rest-api-specs/tree/main/specification/apimanagement/resource-manager/Microsoft.ApiManagement/ApiManagement/stable/2024-05-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Subscription
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/subscriptions
  : get:
      summary: Microsoft Azure API Management Subscription_List
      operationId: Subscription_List
      description: Lists all subscriptions of the API Management service instance.
      responses:
        '200':
          description: Success
      tags:
      - Subscription
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/subscriptions/{sid}
  : head:
      summary: Microsoft Azure API Management Subscription_GetEntityTag
      operationId: Subscription_GetEntityTag
      description: Gets the entity state (Etag) version of the apimanagement subscription specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Subscription
    get:
      summary: Microsoft Azure API Management Subscription_Get
      operationId: Subscription_Get
      description: Gets the specified Subscription entity.
      responses:
        '200':
          description: Success
      tags:
      - Subscription
    put:
      summary: Microsoft Azure API Management Subscription_CreateOrUpdate
      operationId: Subscription_CreateOrUpdate
      description: Creates or updates the subscription of specified user to the specified product.
      responses:
        '200':
          description: Success
      tags:
      - Subscription
    patch:
      summary: Microsoft Azure API Management Subscription_Update
      operationId: Subscription_Update
      description: Updates the details of a subscription specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Subscription
    delete:
      summary: Microsoft Azure API Management Subscription_Delete
      operationId: Subscription_Delete
      description: Deletes the specified subscription.
      responses:
        '200':
          description: Success
      tags:
      - Subscription
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/subscriptions/{sid}/listSecrets
  : post:
      summary: Microsoft Azure API Management Subscription_ListSecrets
      operationId: Subscription_ListSecrets
      description: Gets the specified Subscription keys.
      responses:
        '200':
          description: Success
      tags:
      - Subscription
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/subscriptions/{sid}/regeneratePrimaryKey
  : post:
      summary: Microsoft Azure API Management Subscription_RegeneratePrimaryKey
      operationId: Subscription_RegeneratePrimaryKey
      description: Regenerates primary key of existing subscription of the API Management service instance.
      responses:
        '200':
          description: Success
      tags:
      - Subscription
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/subscriptions/{sid}/regenerateSecondaryKey
  : post:
      summary: Microsoft Azure API Management Subscription_RegenerateSecondaryKey
      operationId: Subscription_RegenerateSecondaryKey
      description: Regenerates secondary key of existing subscription of the API Management service instance.
      responses:
        '200':
          description: Success
      tags:
      - Subscription
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{userId}/subscriptions/{sid}
  : get:
      summary: Microsoft Azure API Management UserSubscription_Get
      operationId: UserSubscription_Get
      description: Gets the specified Subscription entity associated with a particular user.
      responses:
        '200':
          description: Success
      tags:
      - Subscription
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/subscriptions
  : get:
      summary: Microsoft Azure API Management WorkspaceSubscription_List
      operationId: WorkspaceSubscription_List
      description: Lists all subscriptions of the workspace in an API Management service instance.
      responses:
        '200':
          description: Success
      tags:
      - Subscription
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/subscriptions/{sid}
  : head:
      summary: Microsoft Azure API Management WorkspaceSubscription_GetEntityTag
      operationId: WorkspaceSubscription_GetEntityTag
      description: Gets the entity state (Etag) version of the apimanagement subscription specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Subscription
    get:
      summary: Microsoft Azure API Management WorkspaceSubscription_Get
      operationId: WorkspaceSubscription_Get
      description: Gets the specified Subscription entity.
      responses:
        '200':
          description: Success
      tags:
      - Subscription
    put:
      summary: Microsoft Azure API Management WorkspaceSubscription_CreateOrUpdate
      operationId: WorkspaceSubscription_CreateOrUpdate
      description: Creates or updates the subscription of specified user to the specified product.
      responses:
        '200':
          description: Success
      tags:
      - Subscription
    patch:
      summary: Microsoft Azure API Management WorkspaceSubscription_Update
      operationId: WorkspaceSubscription_Update
      description: Updates the details of a subscription specified by its identifier.
      responses:
        '200':
          description: Success
      tags:
      - Subscription
    delete:
      summary: Microsoft Azure API Management WorkspaceSubscription_Delete
      operationId: WorkspaceSubscription_Delete
      description: Deletes the specified subscription.
      responses:
        '200':
          description: Success
      tags:
      - Subscription
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
externalDocs:
  description: Azure API Management REST API Reference
  url: https://learn.microsoft.com/en-us/rest/api/apimanagement/
